:root{
    --fundo: #eeeeee;
    --frente-cartão: #0019fa;
    --verso-cartão: #6606a7;
    --destaque: #00FF00;
    --preto: #000000;
    --branco: #1a161600;
 }
 
 body{
     background-color: var(--fundo);
     margin: 0;
 }
 
 footer{
     background-color: var(--preto);
     position: fixed;
     bottom: 0;
     color: var(--branco);
     width: 100%;
     text-align: center;
 }

 #container{
    padding: 4rem;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
 }

 .cartão{
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
    height: 20rem;
 }